@tailwind base;
@tailwind components;
@tailwind utilities;
/* STYLE BUTTONS GENRES */
.btn__genres {
  border-radius: 0.75rem;
  background-color: #b9d9fe;
  width: 150px;
  padding: 0.5rem;
  color: white;
}
/* STYLE CARDS VIDEOGAMES */
.card {
  width: 300px;
  box-shadow: 0px 0px 5px 5px rgb(210, 206, 206);
  border-radius: 1.25rem;
  padding: 1rem;
}
.card img {
  border-radius: 0.5rem;
  height: 200px;
}
.card h3 {
  font-size: 1.25rem;
  font-weight: 600;
}
.card div {
  display: flex;
  gap: 5px;
}
.card div p {
  width: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.5rem;
  text-align: center;
  border: 3px solid #f87171;
  background-color: #e29595;
  border-radius: 0.5rem;
  padding: 0.25rem;
}
